body{
     font-family: 'Lato', sans-serif;
}
 #head-container{
     padding-right: 0px;
     padding-left: 0px;
     height: 70px;
}
.varfor_bg{
    background-color: #f7f7f7;
}
 @media(max-width:768px){
     .navbar-header{
        margin-top:-6px !important;
    }
}
 @media(max-width:768px){
     .my_menu .pull-right{
        display: none !important;
    }
}
 @media(max-width:768px){
     .navbar-brand{
        float: left;
         !important;
    }
}
 .pull{
     float:right;
}
 .overlay {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0;
     background-color: rgb(0,0,0);
     background-color: rgba(0,0,0, 0.9);
     overflow-x: hidden;
     transition: 0.5s;
}
 .overlay-content {
     position: relative;
     top: 18%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
}
 .overlay a {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: #818181;
     display: block;
     transition: 0.3s;
}
 .overlay a:hover, .overlay a:focus {
     color: #f1f1f1;
}
 .overlay .closebtn {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
}
 @media screen and (max-height: 450px) {
     .overlay a {
        font-size: 20px
    }
     .overlay .closebtn {
         font-size: 40px;
         top: 15px;
         right: 35px;
    }
}
 .headindex{
     text-align: center;
     font-weight: 700;
     font-size: 4.5rem;
     font-family: 'Lato', sans-serif;
     margin-bottom: 2rem;
}
 .headlogoshr{
     border: 1px solid gray;
     width: 20%;
}
 .logo{
     height: 50px;
     width: 250px;
     margin-top: -10px;
     padding-left: 50px;
     float: left;
}
 @media(max-width:858px){
     .logo{
        padding-left: 0px;
        width: 150px;
         !important;
    }
}
 @media(max-width:576px){
     .logo{
        padding-left: 20px;
        width: 150px;
         !important;
    }
}
 .headimg{
     margin-top: 80px;
     width: 100%;
     height: auto;
     padding-left: 50px;
    /* remove for extra large device if img stretch */
     padding-right: 50px;
    /* remove for extra large device if img stretch */
}
 @media(max-width:858px){
     .headimg{
        width: 100%;
         height: auto;
         padding-left: 0px;
         padding-right: 0px;
         !important;
    }
}
 .headimg1{
     margin-top: 50px;
     height: 100%;
     width: 100%;
}
 @media(max-width:575px){
     #form-main{
        width: 600px;
         margin-left: 10px;
    }
}
 @media(max-width:575px){
     .overlay-content{
        margin-right: 50px;

    }
}
 @media(max-width:992px){
     .logo{
        margin-top: 0px;
    }
}
 @media(max-width:992px){
     .logotxt{
        margin-top: 15px;
    }
}
 @media(max-width:575px){
     .navbar{
        padding-top: 0px;
    }
}
 .nav li a{
     font-size: 1.8rem;
     padding: 1.8rem;
}
 .navbar{
     height: 70px;
     padding-top: 5px;
}
 .navbar-nav li a:hover{
     background-color: white;
}
 .headtxt{
     margin-top: 80px;
     text-align: center;
     font-size: 56px;
     font-family: 'Lato', sans-serif;
     font-weight: 600;
}
 .headtxt1{
     margin-top: 60px;
     text-align: center;
     font-size: 46px;
     font-family: 'Lato', sans-serif;
     font-weight: 600;
}
 .txt{
     padding-top: 10px;
     text-align: center;
     line-height: 35px;
     font-family: 'Lato', sans-serif;
}
 .txt1{
     margin-top: 10%;
     padding-top: 10px;
     text-align: center;
     line-height: 35px;
     font-family: 'Lato', sans-serif;
}
 hr{
     border: 1px regular black;
     width: 100%;
}
 #addr{
     margin-top: 120px;
     margin-bottom: 100px;
}
 #addr-index{
     background-color: #f7f7f7;
     padding-bottom: 50px;
}
/*---------------------------form-css-starts------------------------------*/
/*General */
 .contact{
     background-image:url('images/02.gif') no-repeat;
     background-color: aqua;
     background-size: cover;
     width: 100%;
}
 body {
    /* font-family: 'Montserrat', Arial, Helvetica, sans-serif;
     */
     font-family: 'Lato', sans-serif;
}
 #feedback-page{
     text-align:center;
}
/*Inputs styles*/
 .montform .feedback-input:focus{
     background: #fff;
     border: 3px solid #3498db;
     color: #3498db;
     outline: none;
     padding: 13px 13px 13px 54px;
}
 .montform textarea {
     width: 100%;
     height: 150px;
     line-height: 150%;
     resize:vertical;
}
 
/*Styles for small screens*/
 @media only screen and (max-width: 580px) {
     #form-div{
         left: 3%;
         margin-right: 3%;
         width: 88%;
         margin-left: 0;
         padding-left: 3%;
         padding-right: 3%;
    }
}
 @media(max-width:768px){
     #form-main{
        margin-top: 50px;
         !important;
    }
}
 @media(max-width:992px){
     #form-main{
        margin-top: 50px;
         !important;
    }
}
 @media(max-width:768px){
     #form-div{
        width: 100%;
         !important;
    }
}
 @media(max-width:992px){
     #form-div{
        width: 100%;
         !important;
    }
}
/*----------------------------------footer-------------------------------------*/
 .footer{
     margin-top: 50px;
     margin-bottom: 0px;
}
 #footlogo{
     width: 200px;
     height: 50px;
     margin-left: 50px;
     margin-top: 20px;
}
 @media(max-width:858px){
     #footlogo{
         display: block;
         margin: auto;
         !important;
    }
}
 @media(max-width:576px){
     #footlogo{
         display: block;
         margin: auto;
         !important;
    }
}
 .footul{
     text-decoration: none;
     list-style-type: none;
     margin-top: 20px;
}
 .footul a{
     font-size: 18px;
     color: #4da079;
     text-decoration: none;
}
 .footul a:hover{
     color: #54af85;
     text-decoration: none;
}
 .foot-btn{
     background-color: #70c9a0 ;
     color: white;
}
 .foot-btn:hover{
     background-color: #54af85 ;
     color: white;
}
 @media(max-width:858px){
     .footul li{
         text-align: center;
         !important;
    }
}
 @media(max-width:576px){
     .footul li{
         margin-left: 10px;
         !important;
    }
}
 .footul li{
     padding-top:10px;
     padding-right: 50px;
}
 @media(max-width:575px){
     .Qlinks{
        margin-left: 30px ;
         !important;
    }
}
 .footend{
     margin-bottom: 20px;
}
 .icons a{
     font-size: 22px;
     color: gray;
     margin-right: 15px;
}
 .icons a:hover{
     color: blue;
}
 .mybtn{
     background-color: #57b98c;
     margin-right: 40px;
     color: white;
     margin-top: 35px;
}
 .mybtn:hover{
     color: white;
     background-color: #54af85;
     margin-right: 40px;
}
 .rights-txt{
     color: #54af85;
     font-size: 18px;
     padding-top: 40px;
     padding-left: 70px;
}
/*--------------------------------------end-of-footer--------------------------------*/
/*---------------aboutus styling----------*/
 #index-form {
     padding-left:0px;
     padding-right:0px;
     padding-top:0px;
     padding-bottom:0px;
     width: 550px;
     float: left;
     left: 50%;
     border-radius: 7px;
}
/* Icons ---------------------------------- */
 #form-main1{
     width:100%;
     float:left;
     padding-top:0px;
     margin-left: 5px;
     margin-top: 10px;
}
 .button-sub{
     font-family: 'Lato', sans-serif;
     float:left;
     width: 70%;
     border: #fbfbfb solid 4px;
     cursor:pointer;
     background-color: #53b286;
     color:white;
     font-size:22px;
     padding-top:15px;
     padding-bottom:15px;
     transition: all 0.3s;
     margin-top:4px;
     font-weight:700;
     border-radius: 10px;
}
 @media(max-width:575px){
     .button-sub{
        width: 100%;
    }
}
 @media(max-width:992px){
     .button-sub{
        width: 100%;
    }
}
 .montform1 .feedback-input {
     color:#3c3c3c;
     font-family: 'Lato', sans-serif;
     font-weight:500;
     font-size: 18px;
     border-radius: 2px;
     line-height: 22px;
     background-color: #fbfbfb;
     padding: 18px 13px 18px 14px;
     margin-bottom: 10px;
     margin-top: 10px;
     width:100%;
     box-sizing: border-box;
     border: 1px solid #408e6a;
     outline: none;
}
 
/*----------------------company-logos-------------------------*/
 .headlogos{
     text-align: center;
     font-weight: 700;
     font-size: 3.5rem;
     font-family: 'Lato', sans-serif;
     margin-bottom: 2rem;
     padding-top: 4.5rem;
}
 .companylogo{
     text-align: center;
     padding: 30px;
     font-family: Old English Text MT;
/*---------------------Matura MT Script Capitals-------optional-font-logo--*/
     font-size: 50px;
     font-weight: 900;
     color: gray;
}
 .midtxtlogos{
     font-size: 2.5rem;
     font-weight: 400;
     text-align: center;
     font-family: 'Lato', sans-serif;
     margin-bottom: 50px;
}

 body {
     position: relative;
}
 .affix {
     top: 20px;
     z-index: 9999 !important;
}
 div.col-sm-9 div {
     height: 350px;
     font-size: 28px;
}

/*----------------------------fixing navbar------------------------------------*/
 .affix {
     top: 0;
     width: 100%;
     z-index: 9999 !important;
}
 .affix + .container-fluid {
     padding-top: 70px;
}
 #clsbtn{
     margin-top: 30px;
}
 @media(max-width:768px){
     .affix{
        top: 0% !important;
    }
}
 #affix1.affix {
     position: fixed;
     top: 80px;
     z-index:1;
}
 #affix1.affix + .tab-content {
     padding-top: 150px;
}

 .chead{
     height: 800px;
     border: 1px solid black;
}

 #hid{
     display: none;
}
 @media screen and (max-width: 576px) {
     #hid{
         display: block;
         padding: 50px;
    }
}
 @media screen and (max-width: 576px) {
     #hid1{
         display: none;
    }
}
/*--------------------------------actual-contents----------------------*/
 .index-before-foot{
     color: gray;
}
 .contact-head{
     padding-top: 90px;
     font-size: 30px;
}
 #icon-mob{
     font-size: 30px;
     padding-right: 20px;
     padding-top: 40px;
     padding-bottom: 80px;
}
 #icon-email{
     font-size: 30px;
     padding-right: 20px;
     padding-top: 40px;
     padding-bottom: 80px;
}
 @media screen and (max-width: 768px) {
     #icon-email{
         padding-bottom: 80px;
    }
}
 @media screen and (max-width: 768px) {
     #icon-mob{
         padding-bottom: 30px;
         padding-top: 20px;
         padding-right: 0px;
    }
}
 .formtxt{
     font-size: 18px;
}
 .trail-txt{
     margin-left: 18px;
}
 #img{
     margin-top: 50px;
}
/*---------------------price page-------------------*/
 #price-img{
     margin-top: 50px;
     margin-bottom: 80px;
}
 @media screen and (max-width: 576px) {
     #price-img{
         margin-top: 30px;
         margin-bottom: 0px;
    }
}
 .mybtn-cont{
     margin-top: 20px;
     padding: 15px 20px;
     background-color:white;
     color: gray;
     border: 2px solid gray;
     border-radius: 5px;
     font-size: 22px;
}
 .mybtn-cont:hover{
     margin-top: 20px;
     padding: 15px 20px;
     background-color:#5daf89;
     color: white;
     border: 2px solid white;
     border-radius: 5px;
     font-size: 22px;
}
 .mybtn-cont:visited{
     margin-top: 20px;
     padding: 15px 20px;
     background-color:#5daf89;
     color: white;
     border: 2px solid white;
     border-radius: 0px;
     font-size: 22px;
}
.function_block{
    margin-bottom: 50px;
}
 .price-before-foot{
     background-color:white;
     color: gray;
}
 #priceimg1{
     height: 250px;
     display: block;
     margin: auto;
}
 #priceimg2{
     display: block;
     margin: auto;
     height: 250px;
}
 #plus{
     display: block;
     margin: auto;
     height: 100px;
}
 #plus_id{
     margin-top: 80px;
}
 #price_para{
     font-size: 22px;
     margin-top: 50px;
}
 #function_head{
     margin-top: 150px;
}
 #funk li{
     padding: 10px;
     font-size: 20px;
}
 #function_li{
     margin-top: 40px;
}
 @media screen and (max-width: 576px) {
     #priceimg2{
         margin-top: 50px;
         height: 150px;
         width: 180px;
    }
     #plus{
         margin-top: 0px;
         height: 80px;
         width: 80px;
    }
     #priceimg1{
         margin-top: 50px;
         height: 180px;
         width: 180px;
    }
     #funk{
         margin-bottom: 40px;
    }
}
/*----------------------about-us----------------------- */
 .about-head-txt{
     line-height: 30px;
     font-size: 20px;
     text-align: center;
}
 @media screen and (max-width: 576px) {
     .about-head-txt{
         padding-left: 20px;
         padding-right: 20px;
         line-height: 30px;
         font-size: 16px;
         text-align: center;
    }
}
 @media screen and (max-width: 768px) {
     .about-head-txt{
         padding-left: 20px;
         padding-right: 20px;
         line-height: 30px;
         font-size: 16px;
         text-align: center;
    }
}
 .help-txt{
     padding: 80px;
     padding-bottom: 60px;
     text-align: center;
     font-size: 32px;
     color: white;
}
 @media screen and (max-width: 576px) {
     .help-txt{
         padding-top: 80px;
         padding-bottom: 60px;
         text-align: center;
         font-size: 22px;
         color: white;
    }
}
 #aboutimg{
     margin-bottom: 50px;
     padding-left: 0px;
     padding-right: 0px;
}
 .help-container{
     background-color: #70c9a0;
     margin-top: 50px;
}
 #aboutimg_div{
     padding: 0px 0px;
}
 .headimg_about{
     width: 100%;
}
 .form_hr{
     margin-left: 0px;
     padding-left: 0px;
     width: 16%;
     border: 1px solid black;
}
/*------------------------------user-form-----------------------------*/
 .contact_btn{
     font-size: 16px;
     color: #70c9a0;
     border:3px solid #70c9a0;
     padding: 8px 16px;
     background-color: white;
     border-radius: 5px;
     margin-top: 20px;
     margin-bottom: 50px;
}
 .loginbox input{
     border: none;
     border-bottom: 1px solid lightgray;
     background: transparent;
     outline: none;
     height: 40px;
     color: #fff;
     font-size:16px;
     border-radius: 0;
}
 .loginbox label{
     font-size: 20px;
     margin-top: 20px;
}
 .loginbox input:focus{
     background-color: white;
}
 #form_contact{
     margin-top: 20px;
}
/*----------------------------end-of-user-form-----------------------------*/
/* price-circle 1 */
 #price-round{
     padding-top: 80px;
     padding-left: 80px;
}
 .round-head{
     position: absolute;
     margin-top: 125px;
     margin-left: 120px;
     color: white;
     font-size: 18px;
}
 .price-value{
     position: absolute;
     margin-top: 190px;
     margin-left: 150px;
     color: white;
     font-size: 18px;
}
/* price-circle 2 */
 #price-round2{
     padding-top: 30px;
     padding-left: 80px;
     padding-bottom: 20px;
}
 .round-head2{
     position: absolute;
     margin-top: 60px;
     margin-left: 120px;
     color: white;
     font-size: 18px;
}
 .price-value2{
     position: absolute;
     margin-top: 140px;
     margin-left: 140px;
     color: white;
     font-size: 18px;
}
/*------------end-of-price-circle-icon---------- */
/*--------------------------------index--Update------------------------------------*/
 .txt2{
     font-size: 24px;
     margin-top: 30px;
}
 #visma{
     float: right;
     height: 50px;
     width: 250px;
}
 #fortnox{
     height: 50px;
     width: 250px;
}
 #BOS_logo{
     margin-top: 50px;
}
 @media screen and (max-width: 776px) {
     #visma,#fortnox{
         float: none;
         display: block;
         margin: auto;
    }
     #fortnoxdiv{
         margin-top: 50px;
    }
}
.whyoss_heading{
    background-color: #f7f7f7;
}
 .whyoss_link{
     text-align: center;
     padding: 20px 30px;
     color: white;
     background-color: #70c9a0;
     border-radius: 10px;
     border: none;
     font-size: 24px;
     margin-bottom: 100px;
}
 .index_btn2{
     margin-top: 50px;
}
 #whyoss_form{
     text-align: center;
     margin-top: 30px;
}
 #whyoss_email{
     border: 1px solid #70c9a0;
}
 #start_btn{
     background-color: #70c9a0;
     color: white;
     border: none;
     font-size: 22px;
     margin-left: 8px;
     padding: 0px 20px;
}
 #whyoss_contact{
     margin-bottom: 80px;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 700px) { 
      .row .headtxt{
          font-size: 40px;
          margin-top: 20px;
      }
      .midanimate .headtxt{
          font-size: 30px;
      }
      
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 700px) { 
      .txt2{
         text-align: center; 
      }
      
      
}
